
<br>
<div class="row">

    <div class="col-md-6 text-center">
        <div class="btn-group">

            <button
                    class="btn btn-primary"
                    mwl-date-modifier
                    date="vm.viewDate"
                    decrement="vm.calendarView">
                Vorheriger
            </button>
            <button
                    class="btn btn-default"
                    mwl-date-modifier
                    date="vm.viewDate"
                    set-to-today>
                Heute
            </button>
            <button
                    class="btn btn-primary"
                    mwl-date-modifier
                    date="vm.viewDate"
                    increment="vm.calendarView">
                Nächster
            </button>
        </div>
    </div>

    <br class="visible-xs visible-sm">

    <div class="col-md-6 text-center">
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'">Jahr</label>
            <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'">Monat</label>
            <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'">Woche</label>
            <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'">Tag</label>
        </div>
    </div>

</div>
<br>
    