<!DOCTYPE html>
<html>
<head>

    <title>Bootstrap Example</title>
    <meta charset="utf-8">



    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
    <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.5/angular-material.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/javascripts/angularUIController.js"></script>
    <link rel="stylesheet prefetch" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.5/angular-material.css">
    <link href="/stylesheets/style.css" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<div ng-controller="AppCtrl" ng-cloak="" class="toolbardemoBasicUsage" ng-app="MyApp">

    <md-content>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-truncate style="position: absolute; left: 90px; right: 170px; top: 13px; bottom: 13px;">Kalender</md-truncate>

                <span flex=""></span>
                <i class="material-icons">account_circle</i>
                <md-button class="md-raised">
                    Anmelden
                </md-button>
                <md-button class="md-raised" aria-label="Anmelden">
                    Registrieren
                </md-button>

            </div>
        </md-toolbar>


        <md-toolbar>
            <div class="md-toolbar-tools">
                <div ng-controller="cltmy">
                    <md-datepicker  ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
                </div>
                <span flex=""></span>
            </div>
        </md-toolbar>

    </md-content>
</div>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->
</body>
</html>
