<md-dialog>
        <form ng-cloak="">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <span flex></span>
                    <md-button class="md-raised" ng-click="delete(eve)">
                        Delete
                    </md-button>
                    <md-button class="md-raised" ng-click="save()">
                        Save
                    </md-button>
                    <md-button class="md-raised" ng-click="cancel()">
                        Cancel
                    </md-button>
                    <!--<md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>-->
                </div>
            </md-toolbar>

            <md-dialog-content >
                <div class="md-dialog-content">
                    <h2>Termin erstellen</h2>
                    <label ng-model="vm.calendarView" >
                        Titel
                        <input type="text" class="form-control" ng-model="title">
                    </label>
                    <br>
                    <label>
                        Ort
                        <input type="text" class="form-control" ng-model="location">
                    </label>
                    <label>
                        Hauptfarbe
                        <input class="form-control" colorpicker type="text" ng-model="eve.color.primary">
                    </label>

                    <label>
                        Zweitfarbe
                        <input class="form-control" colorpicker type="text" ng-model="eve.color.secondary">
                    </label>


                    <br>
                    <label>
                        Start
                        <p class="input-group" style="max-width: 250px">
                            <input type="text" class="form-control" readonly uib-datepicker-popup="dd MMMM yyyy" ng-model="eve.startsAt" is-open="eve.startOpen" close-text="Close" >
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="date($event, 'startOpen', eve)">
                                <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        <div uib-timepicker ng-model="eve.startsAt" hour-step="1" minute-step="15" show-meridian="true"></div>
                        </p>

                    </label>
                    <br>
                    <label>
                        Ende
                        <p class="input-group" style="max-width: 250px">
                            <input type="text" class="form-control" readonly uib-datepicker-popup="dd MMMM yyyy" ng-model="eve.endsAt" is-open="eve.endOpen" close-text="Close">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="date($event, 'endOpen', eve)">
                                <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                        <div uib-timepicker ng-model="eve.endsAt" hour-step="1" minute-step="15" show-meridian="true"></div>
                    </label>
                    <br>
                    <label>
                        Benachrichtigung
                        <input type="number" name="Zeit" value="0" size="2" ng-model="alerttime">
                        <select ng-model="zeitOption">
                            <option value="minuten">Minute/n</option>
                            <option value="stunden">Stunde/n</option>
                        </select>
                        vorher
                    </label>
                    <br>
                    <label>
                        Beschreibung
                        <textarea rows="4" cols="50" ng-model="description">
                        </textarea>
                    </label>
                </div>
            </md-dialog-content>
        </form>
</md-dialog>