<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-raised" ng-click="save()" aria-label="Speichern">
                    Speichern
                </md-button>
                <span flex></span>
                <md-button class="md-raised" ng-click="" aria-label="Löschen">
                    Löschen
                </md-button>
                <md-button class="md-raised" ng-click="cancel()" aria-label="Abbrechen">
                    Abbrechen
                </md-button>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>Using .md-dialog-content class that sets the padding as the spec</h2>
                <p>
                    The mango is a juicy stone fruit.
                </p>
                <label>
                    Termin Name
                    <input type="text" name="eventName" ng-model="name">
                </label>
                <br>
                <label>
                    Ort
                    <input type="text" name="eventOrt" ng-model="ort">
                </label>
                <br>
                <label>
                    Start
                    <!--
                    <input type="number" name="Stunden" min="00" max="23" value="0" size="2">
                    :
                    <input type="number" name="Minuten" min="00" max="55" value="0" step="5" size="2">
                    </input>
                    -->
                    <input type="time" form="hh:mm" ng-model="start">
                </label>
                <br>
                <label>
                    Ende
                    <!--
                    <input type="number" name="Stunden" min="00" max="23" value="0" size="2">
                    :
                    <input type="number" name="Minuten" min="00" max="55" value="0" step="5" size="2">
                    -->
                    <input type="time" form="hh:mm" ng-model="ende">
                </label>
                <br>
                <label>
                    Benachrichtigung
                    <input placeholder="z.B.: 30" type="number" name="Zeit" min="0" value="0" size="2" ng-model="benachrichtigungZeit">
                    <select ng-model="benachrichtigungEinheit">
                        <option value="minuten">Minute/n</option>
                        <option value="stunden">Stunde/n</option>
                        <option value="tage">Tag/e</option>
                    </select>
                    vorher
                </label>
                <br>
                <label>
                    Beschreibung
                    <textarea rows="4" cols="50" ng-model="beschreibung"></textarea>
                </label>
                <br>
                <label>
                    Zusammenfassung
                    <br>
                    {{name}}
                    {{ort}}
                    {{start}}
                    {{ende}}
                    {{benachrichtigungZeit}}
                    {{benachrichtigungEinheit}}
                    {{beschreibung}}

                </label>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
                More on Wikipedia
            </md-button>
            <span flex></span>
            <md-button ng-click="answer('not useful')">
                Not Useful
            </md-button>
            <md-button ng-click="answer('useful')">
                Useful
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>