<div class="modal-header">
    <h1>Share</h1>
</div>
<div class="modal-body">
    <p><input ng-model="shareName" /></p>
</div>
<div class="modal-footer">
    <button ng-click="share()" class="btn btn-primary" >Share</button>
    <button ng-click="cancelShare()" class="btn" >Abbrechen</button>
</div>